.tooltip2 {
    position: relative;
    display: inline-block;
    
    
  }
  
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 140px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    
    font-size: 13px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  
  }
  
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }

  
.fondo{
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}